*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main{
	background: url('background.jpg');
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(5px);
}
.form{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	width: 60%;
	padding: 50px;
	background-color: rgba(26,26,26,0.6);
	border: 3px solid #f1f1f1;
	text-align: center;
}
h1{
	color: white;
	font-size: 48px;
}
input[type=text], input[type=password]{
	width: 80%;
	padding: 12px 20px;
	margin: 8px 0;
}
.btn{
	padding: 12px 50px;
	margin: 8px 0;
	border: none;
}
.btn-submit{
	background-color: white;
	color: #333333;
	font-size: 20px;
}
.btn-submit:hover{
	background-color: #333333;
	color: white;
}
.btn-reset{
	background-color: #333333;
	color: white;
	font-size: 20px;
}
.btn-reset:hover{
	background-color: white;
	color: #333333;
}